anonymous_enable={{ anonymous_enable }}
local_enable={{ local_enable }}
write_enable={{ write_enable }}
anon_upload_enable={{ anon_upload_enable }}
dirmessage_enable=True
xferlog_enable=True
connect_from_port_20=True
pam_service_name=vsftpd
userlist_enable=True
